*{
    text-align: center;
    align-items: center;
    transition: all 0.5ms;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
.headerBtn, .btnMain, .toTop-btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #451046, #772849, #A83F4C, #DF5950) ;
    background-size: 250% 250%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
    width: 190px;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    margin:15px;
}
@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
.toTop-btn{
    position: relative;
    bottom:70px;
    right:50px;
    cursor: pointer;
    z-index: 9999;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #5c5c5ccb;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(./images/main-screen__bgc.jpg) ;
    background-size:100% ;
    background-position: fixed;
    background-repeat:no-repeat;
}
.main_hed{
    font-size: 64px;
    color: #fff;
    width: 100%;
}
.time{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    font-size:24px;
    height: 115px;
}
.main_man{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    justify-content: center;
    margin-bottom: 165px;
}
.time_times{
    margin: 30px;
    width:115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
}
.kurs_po_obuch{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-evenly;
}
.ucheniki{
    color: #fff;
}
.inf{
    width: 500px;
    height: 500px;
    border: 20px;
    border-color: #fff;
    margin-top:35px;
}   